:root {
	/*blue theme*/
	/*--bg-light: #606dbc;
	--bg-dark: #465298;
	--complement-color: #fc3d45;*/

	/*red theme*/
	--bg-light: #fc4d45;
	--bg-dark: #fc3d45;
	--complement-color: #fc3d45;

	--subtle-font-color: #888;
}

body {
	min-width: 440px;
}

.hideme {
	opacity:0;
	-webkit-transition: opacity 1s, top 1s;
	-moz-transition: opacity 1s, top 1s;
	-o-transition: opacity 1s, top 1s;
	transition: opacity 1s, top 1s;
	position: relative;
	top: 20px;
}

.showme {
	opacity:1 !important;
	position: relative;
	top: 0;
}

/**********NAVBAR**********/
.nav {
	position: fixed;
	background: #fff;
	width: 100%;
	height: 4.4em;
	z-index: 10000;
}
.nav a {
  color: var(--complement-color);
  font: 1.4rem Montserrat;
  text-transform: uppercase;
	padding-right: 1em;
}

.nav a:hover {
	text-decoration: none;
}

.nav li {
  display: inline;
}

/**********PANELS**********/

/*GENERAL*/
.row {
	margin-left: 0;
	margin-right: 0;
}

.main, .faq, #bottom-bar {
	-webkit-filter: brightness(95%);
	filter: brightness(95%);
}

.main .row, .info .row, .faq .row, .sponsors .row, .map .row {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.row h1 {
	font-size: 2em;
}

.row h3 {
	font-size: 1.5em;
}

/*MAIN*/
.main {
	/*background: repeating-linear-gradient(
  	45deg,
  	var(--bg-light),
  	var(--bg-light) 80px,
  	var(--bg-dark) 80px,
  	var(--bg-dark) 160px
	), url("img/bg.jpg");*/
	background-image: url("img/DSC_0027.JPG");
	/*animation: barber 400s infinite linear;
	background-size: 226px 226px;
	background-position-x: 0%;*/
	background-size: cover;
	text-align: center;
}

.main .row {
	color: #fff;
	background-color: transparent;
}

.pop-in {
  animation: pop-in 1s ease forwards;
	opacity: 0;
}

.logo-text {
	animation-delay: 0.2s;
}

.info-text {
	animation-delay: 0.6s;
}

.main h1 {
	color: #fff;
	font-size: 12rem;
	font-family: Jaapokki;
	display: inline;
	padding: 20px 20px 0 20px;
	white-space: nowrap;
	overflow: hidden;
}

/*INFO*/
.info {
	text-align: center;
}

.info h1 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info span {
	font-weight: bold;
}

.info .box {
	margin-bottom: 20px;
}

.info .items, .info .schedule {
	text-align: left;
	background-color: #fff;
	padding: 20px;
}

.info .schedule h3:first-child, .info .items h3:first-child {
	margin-top: 0;
}

.info .schedule h3:last-child, .info .items h3:last-child {
	margin-bottom: 20px;
}

/*FAQ*/
.faq {
	color: #fff;
	text-align: center;
	margin-right: 0;
	background: repeating-linear-gradient(
		-45deg,
  	var(--bg-light),
  	var(--bg-light) 80px,
  	var(--bg-dark)80px,
  	var(--bg-dark) 160px
	);
	/*animation: reverse-barber 400s infinite linear;
	background-size: 226px 226px;
	background-position-x: 0%;*/
	background-size: cover;
}

.faq .header h1 {
	font-weight: bold;
}

.faq a {
	color: #fff;
	font-weight: bold;
}

.faq .qa {
	text-align: left;
	/*background-color: #fff;*/
	background-color: transparent;
	padding: 40px;
	margin: 40px 0 40px 0;
}

.faq .qa h3:first-child {
	/*color: var(--theme-color);*/
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	padding-bottom: 15px;
	margin-top: 0;
}

.faq .qa h3:last-child {
	margin-bottom: 0;
}

/*MAP*/
.map .address {
	text-align: center;
}

.map #map {
	color: #888;
	text-align: center;
	height: 40vmin;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.map h4 {
	padding-top: 40px;
}

.map h1:first-child {
	font-weight: bold;
}

/*SPONSORS*/
.sponsors {
	text-align: center;
	/*background-color: var(--panel-color);*/
	background-color: white;
}

.sponsors .row {
	margin-bottom: 2em;
}

.sponsors .logos img {
	display: block;
	max-height: 200px;
	padding: 40px;
	margin: auto;
}

/**********REGISTER BAR**********/
.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic;
	text-align: center;
	/*transition: background-color 0.4s;*/
}

#register {
	background: repeating-linear-gradient(
		45deg,
  	var(--bg-light),
  	var(--bg-light) 80px,
  	var(--bg-dark) 80px,
  	var(--bg-dark) 160px
	);
	/*animation: barber 400s infinite linear;
	background-size: 226px 226px;
	background-position-x: 100%;*/
	background-size: cover;
	/*background: repeating-linear-gradient(
	  45deg,
	  #bbb,
	  #bbb 160px,
	  #999 160px,
	  #999 320px
	);*/
	padding-top: 40px;
	padding-bottom: 60px;
}

#register .row:first-child .box {
	border-bottom: 2px solid #fff;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.learn-more h1 {
	font-weight: bold;
}

.learn-more a, .learn-more h1, .learn-more h3 {
	color: #fff;
	text-decoration: none;
}

.learn-more .make-translucent:hover {
	opacity: 0.7;
}

.learn-more .make-translucent:active {
	opacity: 0.4;
}

#bottom-bar {
	font-size: 1.6rem;
	background-color: #fff;
}

#bottom-bar a {
	color: var(--subtle-font-color);
}

.fa {
    padding: 20px 20px 0 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: -10px;
}

.fa:hover {
    opacity: 0.7;
}

/**********MEDIA QUERIES**********/

/*PHONES*/
@media screen and (max-width: 767px) {
    body {
		font-size: 20px;
	}

	.nav {
		display: none;
	}

	.row h1 {
		font-size: 2.2em;
	}

	.row h3 {
		font-size: 1.4em;
	}

	.main .row {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.main h1 {
		font-size: 7rem;
	}

	.info .box:first-child {
		border-right-width: 0;
		border-bottom: 2px solid var(--complement-color);
	}

	.map #map {
		height: 80vmin;
	}

	.sponsors h1 {
		font-size: 1.4em;
	}

	.sponsors .logos img {
		max-height: 150px;
	}
}

/*TABLETS*/
@media screen and (min-width: 768px) {
    body {
		font-size: 19px;
	}

	.nav {
		display: none;
	}

	.main .row {
		padding-bottom: 10em;
	}

	.info .box:first-child {
		border-right: 2px solid var(--complement-color);
		border-bottom-width: 0;
	}

	.map #map {
		height: 80vmin;
	}

	.sponsors .logos img {
		max-height: 150px;
	}
}

/*COMPUTERS*/
@media screen and (min-width: 992px) {
	body {
		font-size: 12px;
	}

	.nav {
		display: inherit;
	}

	.main .row {
		padding-bottom: 10em;
	}

 	.info .box:first-child {
		border-right: 2px solid var(--complement-color);
		border-bottom-width: 0;
	}

	.map #map {
		height: 60vmin;
	}
}
