:root {--theme-color-light: #fccdd5;
	--theme-color: #fc8d95;
	--theme-color-dark: #fc3d45;

	--bg-light: rgba(252, 205, 213, 0.8);
	--bg-dark: rgba(252, 61, 69, 0.9);

	--complement-color: #465298;

	--panel-color: #fff;

	--font-color: #888;
}

@font-face {
  font-family: Jaapokki;
  src:  url('fonts/Jaapokki-Regular.otf'), url('/fonts/Jaapokki-Regular.otf');
}

@font-face {
  font-family: Metrophobic;
  src:  url('fonts/Metrophobic.otf');
}

body {
	min-width: 440px;
}

a {
	color: var(--complement-color);
}

a:hover {
	color: var(--complement-color);
}

.hideme {
	opacity:0;
	-webkit-transition: opacity 1s, top 1s;
	-moz-transition: opacity 1s, top 1s;
	-o-transition: opacity 1s, top 1s;
	transition: opacity 1s, top 1s;
	position: relative;
	top: 20px;
}

.showme {
	opacity:1 !important;
	position: relative;
	top: 0;
}

/**********NAVBAR**********/
.nav {
	position: fixed;
	background: #fff;
	width: 100%;
	height: 4.4em;
	z-index: 10000;
}
.nav a {
  color: var(--complement-color);
  font: 1.4rem Montserrat;
  text-transform: uppercase;
	padding-right: 1em;
}

.nav a:hover {
	text-decoration: none;
}

.nav li {
  display: inline;
}

/**********PANELS**********/

/*GENERAL*/
.row {
	margin-left: 0;
	margin-right: 0;
}

.main .row, .info .row, .faq .row, .sponsors .row, .map .row {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.row h1 {
	font-size: 2em;
}

.row h3 {
	font-size: 1.5em;
}

/*MAIN*/
.main {
	/*background-color: var(--theme-color);
	background: -webkit-linear-gradient(135deg, var(--theme-color-light), var(--theme-color-dark));
	background: -o-linear-gradient(135deg, var(--theme-color-light), var(--theme-color-dark));
	background: -moz-linear-gradient(135deg, var(--theme-color-light), var(--theme-color-dark));
	background: linear-gradient(135deg, var(--theme-color-light), var(--theme-color-dark));*/

	/*background-color: rgba(255, 0, 0, 200);
	background-image: url("img/bg.jpg");
	background-size: cover;*/

	/*background: linear-gradient(135deg, var(--bg-light), var(--bg-dark)), url("img/bg.jpg") no-repeat;*/


	background: repeating-linear-gradient(
  	45deg,
  	rgba(96,109,188, 1),
  	rgba(96,109,188, 1) 100px,
  	rgba(70,82,152, 1) 100px,
  	rgba(70,82,152, 1) 200px
	), url("img/bg.jpg");
	background-size: cover;
	text-align: center;
}

.main .row {
	color: #fff;
	background-color: transparent;
}

.main h1 {
	color: var(--theme-color-dark);
	font-size: 8rem;
	font-family: Jaapokki;
	border: 10px solid var(--theme-color-dark);
	display: inline;
	padding: 20px 20px 0 20px;
}

/*INFO*/
.info {
	text-align: center;
}

.info h1 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info span {
	font-weight: bold;
}

.info .box {
	margin-bottom: 20px;
}

.info .items, .info .schedule {
	text-align: left;
	background-color: #fff;
	padding: 20px;
}

.info .schedule h3:first-child, .info .items h3:first-child {
	margin-top: 0;
}

.info .schedule h3:last-child, .info .items h3:last-child {
	margin-bottom: 20px;
}

/*FAQ*/
.faq {
	color: #fff;
	text-align: center;
	background-color: var(--panel-color);
	margin-right: 0;
	background: repeating-linear-gradient(
  	-45deg,
  	#606dbc,
  	#606dbc 80px,
  	#465298 80px,
  	#465298 160px
	);
}

.faq a {
	color: #fff;
	font-weight: bold;
}

.faq .qa {
	text-align: left;
	/*background-color: #fff;*/
	background-color: transparent;
	padding: 40px;
	margin: 20px;
}

.faq .qa h3:first-child {
	/*color: var(--theme-color);*/
	color: var(--theme-color-dark);
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 20px;
}

.faq .qa h3:last-child {
	margin-bottom: 0;
}

/*MAP*/
.map .address {
	text-align: center;
}

.map #map {
	color: #888;
	text-align: center;
	background-color: var(--panel-color);
	height: 40vmin;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.map h4 {
	padding-top: 40px;
}

.map h1:first-child {
	font-weight: bold;
}

/*SPONSORS*/
.sponsors {
	text-align: center;
	/*background-color: var(--panel-color);*/
	background-color: white;
}

.sponsors .row {
	margin-bottom: 2em;
}

.sponsors .logos img {
	display: block;
	max-height: 200px;
	padding: 40px;
	margin: auto;
}

/**********REGISTER BAR**********/
.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic;
	text-align: center;
	/*transition: background-color 0.4s;*/
}

#register {
	background: repeating-linear-gradient(
  	45deg,
  	#606dbc,
  	#606dbc 80px,
  	#465298 80px,
  	#465298 160px
	);
	/*background: repeating-linear-gradient(
	  45deg,
	  #bbb,
	  #bbb 160px,
	  #999 160px,
	  #999 320px
	);*/
	padding-top: 40px;
	padding-bottom: 60px;
}

#register .row:first-child .box {
	border-bottom: 2px solid var(--theme-color-dark);
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.learn-more h1 {
	font-weight: bold;
}

.learn-more a, .learn-more h1, .learn-more h3 {
	color: #fff;
	text-decoration: none;
}

.learn-more .make-translucent:hover {
	opacity: 0.7;
}

.learn-more .make-translucent:active {
	opacity: 0.4;
}

#bottom-bar {
	font-size: 1.6rem;
	background-color: #fff;
}

#bottom-bar a {
	color: var(--font-color);
}

.fa {
    padding: 20px 20px 0 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: -10px;
}

.fa:hover {
    opacity: 0.7;
}

/**********DEVICE FORMATTING**********/

/*PHONES*/
@media screen and (max-width: 767px) {
    body {
		font-size: 20px;
	}

	.nav {
		display: none;
	}

	.row h1 {
		font-size: 2.2em;
	}

	.row h3 {
		font-size: 1.4em;
	}

	.main .row {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.main h1 {
		font-size: 4em;
	}

	.info .box:first-child {
		border-right-width: 0;
		border-bottom: 2px solid var(--theme-color-dark);
	}

	.map #map {
		height: 80vmin;
	}

	.sponsors h1 {
		font-size: 1.4em;
	}

	.sponsors .logos img {
		max-height: 150px;
	}
}

/*TABLETS*/
@media screen and (min-width: 768px) {
    body {
		font-size: 19px;
	}

	.nav {
		display: none;
	}

	.main .row {
		padding-bottom: 10em;
	}

	.info .box:first-child {
		border-right: 2px solid var(--theme-color-dark);
		border-bottom-width: 0;
	}

	.map #map {
		height: 80vmin;
	}

	.sponsors .logos img {
		max-height: 150px;
	}
}

/*COMPUTERS*/
@media screen and (min-width: 992px) {
	body {
		font-size: 12px;
	}

	.nav {
		display: inherit;
	}

	.main .row {
		padding-bottom: 10em;
	}

 	.info .box:first-child {
		border-right: 2px solid var(--theme-color-dark);
		border-bottom-width: 0;
	}

	.map #map {
		height: 60vmin;
	}
}
