@font-face {
  font-family: Jaapokki;
  src: url('fonts/Jaapokki-Regular.otf'), url('/fonts/Jaapokki-Regular.otf');
}

@font-face {
  font-family: Metrophobic;
  src: url('fonts/Metrophobic.otf'), url('/fonts/Metrophobic.otf');
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

:root {
	/*purple theme*/
	/*--bg-light: #606dbc;
	--bg-dark: #465298;
	--complement-color: #fc3d45;*/

	/*red theme*/
	--bg-light: #fc4d45;
	--bg-dark: #fc3d45;
	--complement-color: rgb(180, 180, 180);

	--subtle-font-color: #888;
}

body {
	min-width: 440px;
}

.hideme {
	opacity:0;
	-webkit-transition: opacity 1s, transform 0.5s;
	-moz-transition: opacity 1s, transform 0.5s;
	-o-transition: opacity 1s, transform 0.5s;
	transition: opacity 1s, transform 0.5s;
  transform: translateY(20px);
}

.showme {
	opacity:1 !important;
  transform: translateY(0);
}

/**********NAVBAR**********/
.nav {
	position: fixed;
	/*background: rgba(255, 255, 255, 0.2);*/
	width: 100%;
	height: 4.4em;
	z-index: 10000;
  -webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}
.nav a {
  color: #fff;
  font: 1.4rem Montserrat;
  text-transform: uppercase;
	padding-right: 2em;
}

.nav a:hover {
	text-decoration: none;
}

.nav li {
  display: inline;
}

/**********PANELS**********/

/*GENERAL*/
.row {
	margin-left: 0;
	margin-right: 0;
}

.main, .info, .faq, .map, .sponsors {
  position: relative;
}

.main {
  z-index: 0;
}

.info {
  z-index: 10;
}

.faq {
  z-index: 20;
}

.map {
  z-index: 30;
}

.sponsors {
  z-index: 40;
}

.main .row, .info .row, .faq .row, .sponsors .row, .map .row {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.row h1 {
	font-size: 2em;
}

.row h3 {
	font-size: 1.5em;
}

/*MAIN*/
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.main {
  background: transparent;
	background-size: cover;
	text-align: center;
}

.main .row {
	color: #fff;
	background-color: transparent;
}

.pop-in {
  animation: pop-in 1s ease forwards;
	opacity: 0;
}

.logo-text {
	animation-delay: 0.2s;
}

.register-text {
	animation-delay: 0.6s;
}

.main h1 {
	color: #fff;
	font-size: 12rem;
	font-family: Jaapokki;
	display: inline;
	padding: 20px 20px 0 20px;
	white-space: nowrap;
	overflow: hidden;
}

.main a div {
  color: rgb(20, 20, 20);
  font-size: 3rem;
  background: white;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
}

.main a:hover {
  text-decoration: none;
  opacity: 0.8;
}

/*INFO*/
.info {
	text-align: center;
}

.info h1 {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info span {
	font-weight: bold;
}

.info .box {
	margin-bottom: 20px;
}

.info .items, .info .schedule {
	text-align: left;
	padding: 20px;
}

.info .schedule h3:first-child, .info .items h3:first-child {
	margin-top: 0;
}

.info .schedule h3:last-child, .info .items h3:last-child {
	margin-bottom: 20px;
}

/*FAQ*/
.faq {
	color: #fff;
	text-align: center;
	margin-right: 0;
	/*background: repeating-linear-gradient(
		-45deg,
  	var(--bg-light),
  	var(--bg-light) 80px,
  	var(--bg-dark)80px,
  	var(--bg-dark) 160px
	);*/
  background-color: rgb(20, 20, 20);
	/*animation: reverse-barber 400s infinite linear;
	background-size: 226px 226px;
	background-position-x: 0%;*/
	background-size: cover;
}

.faq .header h1 {
	font-weight: bold;
}

.faq a {
	color: #fff;
	font-weight: bold;
}

.faq .qa {
	text-align: left;
	/*background-color: #fff;*/
	background-color: transparent;
	padding: 40px;
	margin: 40px 0 40px 0;
}

.faq .qa:hover {
  transform: translate(-5px, -5px);
}

.faq .qa h3:first-child {
	/*color: var(--theme-color);*/
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	padding-bottom: 15px;
	margin-top: 0;
  background: -webkit-linear-gradient(-45deg, #f00, #06f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faq .qa h3:last-child {
	margin-bottom: 0;
}

/*MAP*/
/*.map .address {
  text-align: center;
}*/

.map #map {
	color: #888;
	text-align: center;
	height: 40vmin;
	margin: auto;
	margin-top: 40px;
}

.map h4 {
	padding-top: 40px;
}

.map h1:first-child {
	font-weight: bold;
}

/*SPONSORS*/
.sponsors {
	text-align: center;
	/*background-color: var(--panel-color);*/
	background-color: white;
}

.sponsors .row {
	margin-bottom: 2em;
}

.sponsors a {
  text-decoration: none;
}

.sponsors a:hover {
  text-decoration: none;
}

.sponsors .logos img {
  color: black;
  font-size: 2em;
	display: block;
	max-height: 200px;
	padding: 40px;
	margin: auto;
  transition: transform 0.5s;
}

.sponsors .logos img:hover {
  transform: translate(-5px, -5px);
}

/**********REGISTER BAR**********/
.learn-more {
	/*font-family: Consolas, 'Andale Mono', Helvetica, sans-serif;*/
	font-family: Montserrat, Metrophobic;
	text-align: center;
	/*transition: background-color 0.4s;*/
}

#register {
	/*background: repeating-linear-gradient(
		45deg,
  	var(--bg-light),
  	var(--bg-light) 80px,
  	var(--bg-dark) 80px,
  	var(--bg-dark) 160px
	);*/
  background-color: rgb(20, 20, 20);
	/*animation: barber 400s infinite linear;
	background-size: 226px 226px;
	background-position-x: 100%;*/
	background-size: cover;
	/*background: repeating-linear-gradient(
	  45deg,
	  #bbb,
	  #bbb 160px,
	  #999 160px,
	  #999 320px
	);*/
	padding-top: 40px;
	padding-bottom: 60px;
  margin-top: 10rem;
}

/*#register .row:first-child .box {
	border-bottom: 2px solid var(--complement-color);
	padding-bottom: 2em;
	margin-bottom: 2em;
}*/

.learn-more h1 {
  font-size: 4rem;
	font-weight: bold;
  background: -webkit-linear-gradient(-45deg, #f00, #06f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.learn-more a, .learn-more h1, .learn-more h3 {
	color: #fff;
	text-decoration: none;
}

.make-translucent:hover, .learn-more .make-translucent:hover {
	opacity: 0.7;
}

.make-translucent:active, .learn-more .make-translucent:active {
	opacity: 0.4;
}

#bottom-bar {
	font-size: 1.6rem;
	background-color: #eee;
  padding: 0;
}

#bottom-bar a {
	color: var(--subtle-font-color);
}

.fa {
    padding: 0 20px 0 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    position: relative;
    left: -10px;
    margin-bottom: 4rem;
}

.fa:hover {
    opacity: 0.7;
}

/**********MEDIA QUERIES**********/

/*PHONES*/
@media screen and (max-width: 767px) {
    body {
		font-size: 20px;
	}

	.nav {
		display: none;
	}

	.row h1 {
		font-size: 2.2em;
	}

	.row h3 {
		font-size: 1.4em;
	}

	.main .row {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.main h1 {
		font-size: 7rem;
	}

	.map #map {
		height: 80vmin;
	}

	.sponsors h1 {
		font-size: 1.4em;
	}

	.sponsors .logos img {
		max-height: 150px;
	}
}

/*TABLETS*/
@media screen and (min-width: 768px) {
    body {
		font-size: 19px;
	}

	.nav {
		display: none;
	}

	.main .row {
		padding-bottom: 10em;
	}

	.map #map {
		height: 80vmin;
	}

	.sponsors .logos img {
		max-height: 150px;
	}
}

/*COMPUTERS*/
@media screen and (min-width: 992px) {
	body {
		font-size: 12px;
	}

	.nav {
		display: inherit;
	}

	.main .row {
		padding-bottom: 10em;
	}

	.map #map {
		height: 60vmin;
	}
}
